.answer {
    border: solid;
    margin: 0.5em auto;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #e9c46a;
    }
}

.correct {
    background-color: #80ed99;
}

.incorrect {
    background-color: #e84a4a;
}


.question-and-answer {
    width: 500px;
}

.next-button {
    margin: 2em auto;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    &:hover {
        background-color: #e9c46a;
    }
}


.game-container {
    max-width: 800px;

    .option-container {
        font-size: 1.2rem;
        margin: 2rem auto;
    }

    .option-single {
        margin: 0 auto;

        & * {
            margin: 0 4px 0 4px;
        }
    }
}